<html>
<head>
<style>
ul.b {list-style-type:square;}
</style>
</head>
<body>
<form action="/grant_add" method="get">
目标实例：<input type="text" name="host">
实例端口：  <input type="text" name="port">
管理员用户：  <input type="text" name="username">
管理员密码：  <input type="text" name="password">
创建用户名：  <input type="text" name="user">
用户密码：  <input type="text" name="passwd">
用户权限：  <input type="text" name="priv">
作用对象：  <input type="text" name="objects">
作用范围：  <input type="text" name="range">
        <input type="submit" value="创建">

</form>
</body>
</html>
